@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

:root {
    --landing-bg: white;
    --title-color: rgb(59, 59, 59);
    --primary-btn-bg: #5e17eb;
    --primary-btn-hover-bg: #37049e;

    --body-font-family: 'Raleway', sans-serif;
}


/*for  animations on page load*/
@keyframes transitionOnLoad {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}



* {
    font-family: var(--body-font-family);
}

body {
    background-color: var(--landing-bg);
}



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-container {
    height: 100vh;
    flex-direction: column;
    gap: 1.5rem;
    animation: transitionOnLoad 2s;
}

.logo {
    width: 500px;
    height: 100px;
    object-fit: cover;
    object-position: 20% 55%;
}

.landing-title {
    font-size: 2.3rem;
    max-width: 70%;
    text-align-last: center;
    font-weight: 700;
    color: var(--title-color);
}

.btn-container {
    gap: 3rem;
}

.btn {
    padding: 1rem;
    font-size: larger;
    width: 16rem;
    font-weight: 500;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    text-decoration: none;
}

.primary-btn {
    background-color: var(--primary-btn-bg);
    color: var(--landing-bg);
}

.primary-btn:hover {
    background-color: var(--primary-btn-hover-bg);
}

.secondary-btn {
    background-color: var(--landing-bg);
    color: var(--primary-btn-bg);
    border: 2px solid var(--primary-btn-bg);
}

.secondary-btn:hover {
    color: var(--primary-btn-hover-bg);
    border-color: var(--primary-btn-hover-bg);
}