@import '../document.css';
@import '../../homepage/homepage.css';
@import '../../components/button/button.css';

.card-outer-body {
    background-color: var(--secondary-white);
    padding: 1rem;
    position: relative;
}

.card-outer-body:hover{
    box-shadow: 10px 10px 20px var(--off-black-typography);

}

.card-inner-body {
    max-width: fit-content;

}

.img-body img {
    height: 300px;
}

.img-body {
    position: relative;
    margin-bottom: 1rem;
}

.label-badge {
    background-color: var(--success-green);
    font-size: 0.3rem;
    padding: 0.2rem 1rem 0.2rem 0.1rem;
    color: var(--secondary-white);
    position: absolute;
    left: 0;
    top: 1rem;
}

.card-info {
    flex-direction: column;
    align-items: flex-start;
}

.card-title {
    color: var(--off-black-typography);
}

.card-rating {
    background-color: var(--warning-yellow);
    color: var(--secondary-white);
    padding: 0.1rem 0.5rem 0.1rem 0.1rem;
    border-radius: 0.1rem;
}

.price-wishlist {
    width: 100%;
    gap: 0.2rem;
}

.current-price {
    font-weight: bolder;
    font-size: larger;
}

.previous-price {
    text-decoration: line-through;
    color: gray;
}

.discount {
    color: var(--success-green);
    font-weight: bold;
}

.btn-wishlist {
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.fa-heart {
    border-radius: 50%;
    font-size: larger;
    color: gray;
    border: 2px solid gray;
    padding: 0.5rem;
}

.fa-heart:hover {
    background-color: var(--error-red-light);
    color: var(--error-red);
    border-color: var(--error-red);
    filter: brightness(220%);
}

/* -------------------------------------- */
/* card with dismiss */
.dismiss{
 color: var(--off-black-typography);
 /* color: var(--secondary-white); */
 position: absolute;
 top: 0.5rem;
 right: 0rem;
 background-color: transparent;
 border: none;
}

.dismiss:hover{
    color: var(--error-red);
}

/*card with shadow*/
.card-shadow{
    box-shadow: 10px 10px 20px var(--off-black-typography);
}

/*card with text-overlay*/
.text-overlay{
    filter: opacity(50%);
}

.overlay-text{
    color: var(--error-red);
    background-color: var(--secondary-white);
    padding: 1rem;
    position: absolute;
    bottom: 50%;
    left: 30%;
    font-weight: 600;
    font-size: larger;
}

/*horizontal card*/
.horizontal-card-outer{
    align-items: center;
}

.horizontal-card{
    display: flex;
    min-width: max-content;
    gap: 1rem;
    height: fit-content;
    position: relative;
}

.column-direction{
    margin-top: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    height: 50%;
}

.price-only{
    gap: 1rem;
}

.wishlist-icon{
    border: none;
    padding: none;
    color: var(--error-red);
}

.cart-wishlist{
    gap: 1rem;
}

/*text-only-card*/

.text-only-card{
    width: 50%;
}

/*iframe universal css- after merge transfer to homepage.css*/
iframe{
    width: 80%;
    padding-top: 2rem;
    margin: auto;
}