@import '../document.css';
@import '../../homepage/homepage.css';

.comp-live{
    justify-content: space-evenly;
}

.avatar{
    border-radius: 50%;
    border: 3px solid var(--secondary-white);
    background-color: var(--off-black-typography);
}

.avatar-lg-size{
    height: 9rem;
    width: 9rem;
    font-size: 5rem;
}

.avatar-md-size{
    height: 6rem;
    width: 6rem;
    font-size: 3rem;

}

.avatar-sm-size{
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    
}

.avatar-xs-size{
    height: 2rem;
    width: 2rem;
    font-size: 1rem;

}

.avatar-alpha{
    justify-content: center;
    color: var(--secondary-white);
    font-weight: 500;
}

