@import '../../homepage/homepage.css';

/*documentation css*/
/*------------------*/
.component-title, .component-eg{
    margin-bottom: 0;
    color: var(--off-black-typography);
}

.component-title{
    font-size: 3rem;
}

.component-description, .component-eg-desc{
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 3rem;
}

.comp-live{
    margin-top: 4rem;
    background-color: var(--hover-state-light-violet);
    padding: 2rem 0;
    justify-content: space-evenly;
    border-radius: 1rem;
}


.horizontal-line-break{
    margin: 4rem;
}

.imp-data{
    color: var(--hover-state-dark-violet);
}